---
title: heaters-main
pageTitle: 'Отопители'
breadcrumbs: [
  { item: '', link: 'Главная', modItem: '', modLink: '' },
  { item: '-' },
  { item: '', link: 'Отопители', modItem: '', modLink: 'is-active' }
]
blocks: [
  {
    img: '1.jpg',
    title: 'Установка',
    text: '',
    price: '<small>от</small> 110<small>$</small>'
  },
  {
    img: '2.jpg',
    title: 'Ремонт',
    text: '',
    price: '<small>от</small> 40<small>$</small>'
  }
]
---
{% extends "layouts/_page.html" %}

{% block content %}
<!-- begin blocks -->
<section class="blocks">
  <div class="container">
    {% for i in blocks %}
    {% include "partials/_block.html" %}
    {% endfor %}
  </div>  
</section>
<!-- end blocks -->
{% endblock %}


