$fz:    15px
$fz-sm: 14px
$fz-xs: 12px

$c-text: #273c53
$accent: #f24841

$white: #fff
$black: #000

$blue-dark: #080637
$blue-light: #4758a5
$blue-lighten: #5668bc
$blue-lightest: #5d70c8

$header-top-height: 72px
