<!-- begin section -->
<section class="error">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <div class="error__content">
          <div class="error__title">
            <h1 class="h2 h2--lg h2--white">К сожалению, страница не найдена</h1>
          </div>

          <div class="error__subttl text text--white">Но вы можете продолжить работу с главной страницы</div>

          <div class="error__btn">
            {{ mixins.btn(
              title = 'Перейти на главную',
              mod = ''
            ) }}
          </div>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="error__404">
          <span>40</span>
          <span>4</span>
          <img data-src="img/circle.png" alt="" class="js-lazy">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->