{%set
faq = [
  {
    title: 'Сколько времени занимает установка кондиционера?',
    text: 'Стоимость установки кондиционеров и отопителей в ваш автомобиль зависит от многих факторов, таких как: возраст автомобиля, комплектация, уровень выбранного вами кондиционера или отопителя и т.д. В среднем стоимость установки составляет от 150$ до 300$. В эту стоимость входит установка, настройка и подключение устройства до полного эксплуатационного состояния. Детальнее о стоимости и условиях установки вы можете узнать у нашего менеджера, перейдя на страницу <a href="#">Контакты</a>'
  },
  {
    title: 'Какие гарантии вы предоставляете на установку и ремонт?',
    text: 'Стоимость установки кондиционеров и отопителей в ваш автомобиль зависит от многих факторов, таких как: возраст автомобиля, комплектация, уровень выбранного вами кондиционера или отопителя и т.д. В среднем стоимость установки составляет от 150$ до 300$. В эту стоимость входит установка, настройка и подключение устройства до полного эксплуатационного состояния. Детальнее о стоимости и условиях установки вы можете узнать у нашего менеджера, перейдя на страницу <a href="#">Контакты</a>'
  },
  {
    title: 'Сколько стоит установить кондиционер или отопитель?',
    text: 'Стоимость установки кондиционеров и отопителей в ваш автомобиль зависит от многих факторов, таких как: возраст автомобиля, комплектация, уровень выбранного вами кондиционера или отопителя и т.д. В среднем стоимость установки составляет от 150$ до 300$. В эту стоимость входит установка, настройка и подключение устройства до полного эксплуатационного состояния. Детальнее о стоимости и условиях установки вы можете узнать у нашего менеджера, перейдя на страницу <a href="#">Контакты</a>'
  },
  {
    title: 'Кондиционеры и отопители каких брендов испоользует ваша компания?',
    text: 'Стоимость установки кондиционеров и отопителей в ваш автомобиль зависит от многих факторов, таких как: возраст автомобиля, комплектация, уровень выбранного вами кондиционера или отопителя и т.д. В среднем стоимость установки составляет от 150$ до 300$. В эту стоимость входит установка, настройка и подключение устройства до полного эксплуатационного состояния. Детальнее о стоимости и условиях установки вы можете узнать у нашего менеджера, перейдя на страницу <a href="#">Контакты</a>'
  },
  {
    title: 'Сколько времени занимает установка кондиционера?',
    text: 'Стоимость установки кондиционеров и отопителей в ваш автомобиль зависит от многих факторов, таких как: возраст автомобиля, комплектация, уровень выбранного вами кондиционера или отопителя и т.д. В среднем стоимость установки составляет от 150$ до 300$. В эту стоимость входит установка, настройка и подключение устройства до полного эксплуатационного состояния. Детальнее о стоимости и условиях установки вы можете узнать у нашего менеджера, перейдя на страницу <a href="#">Контакты</a>'
  },
  {
    title: 'Могу ли я оплатить ваши услуги в рассрочку?',
    text: 'Стоимость установки кондиционеров и отопителей в ваш автомобиль зависит от многих факторов, таких как: возраст автомобиля, комплектация, уровень выбранного вами кондиционера или отопителя и т.д. В среднем стоимость установки составляет от 150$ до 300$. В эту стоимость входит установка, настройка и подключение устройства до полного эксплуатационного состояния. Детальнее о стоимости и условиях установки вы можете узнать у нашего менеджера, перейдя на страницу <a href="#">Контакты</a>'
  }
]
%}

<!-- begin faq -->
<div class="faq js-accordion js-grid">
  {% for i in faq %}
  <div class="question__wrap js-grid-item">
    <!-- begin question -->
    <div class="question">
      <a href="#" class="question__title js-accordion-title"><span class="question__icon">{{ mixins.icon('ask') }}</span> {{ i.title | safe }}</a>
      <div class="question__text text text--blue-100 js-accordion-content">{{ i.text | safe }}</div>
    </div>
    <!-- end question -->
  </div>
  
  {% endfor %}
</div>
<!-- end faq --> 