<!-- begin section -->
<section class="section section--content">
  <div class="container">
    <div class="section__content">
      

      <div class="section__content-text">
        <h2 class="h2">Установка, ремонт, сервис климатических систем автомобиля</h2>

        <p>Климатическая система стала неотъемлимой частью современного автомобиля. С каждым годом сложность систем климат-контроля возрастает. Ремонт климатической техники требует специального оборудования и знаний в самых различных отрослях, начиная собственно с холодильного контура и заканчивая знанием микропроцессорной техники. Предлагаем Вам услуги по ремонту и диагностике климатических систем.</p>
        <p>Наряду с вышесказанным, парк автомобилей не оборудованных системами кондиционирования и отопления еще достаточно велик. В ассортименте наших услуг - установка оригинальных и универсальных систем кондиционирования и обогрева.</p>

        {{ mixins.btn(
          title = 'Оформить заказ',
          mod = 'btn--shadow'
        ) }}
      </div>

      <div class="section__content-img section__content-img-right">
        <img data-src="img/home/auto/2.png" alt="" class="js-lazy">
      </div>      
      
    </div>
  </div>
</section>
<!-- end section -->