<!-- begin section -->
<section class="section section--content section--content-no-grad pt-0">
  <div class="section-dots"></div>

  <div class="container">
    <div class="section__title section__title-sm">
      <h2 class="h2">Фотогалерея нашего сервиса</h2>
    </div>
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="section__subttl">В сервисе АвтоКлимат всегда царит дружеская и приятная атмосфера. Каждый вовлечен в работу на 100% и выполняет задания от души</div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        {% include "partials/_gallery.html" %}
      </div>

      <div class="col-lg-6">
        <div class="section__text section__text-bd">
          <p>Климатическая система стала неотъемлимой частью современного автомобиля. С каждым годом сложность систем климат-контроля возрастает. Ремонт климатической техники требует специального оборудования и знаний в самых различных отрослях, начиная собственно 
          с холодильного контура и заканчивая знанием микропроцессорной техники. Предлагаем Вам услуги по ремонту и диагностике климатических систем.</p>
          <p>Наряду с вышесказанным, парк автомобилей не оборудованных системами кондиционирования 
            и отопления еще достаточно велик. В ассортименте наших услуг - установка оригинальных 
            и универсальных систем кондиционирования и обогрева.
            Климатическая система стала неотъемлимой частью современного автомобиля. С каждым годом сложность систем климат-контроля возрастает. Ремонт климатической техники требует специального оборудования и знаний в самых различных отрослях, начиная собственно 
          с холодильного контура и заканчивая знанием микропроцессорной техники. Предлагаем Вам услуги по ремонту и диагностике климатических систем.</p>
          <p>Предлагаем Вам услуги по ремонту и диагностике климатических систем.</p>
          <p>Наряду с вышесказанным, парк автомобилей не оборудованных системами кондиционирования 
            и отопления еще достаточно велик. В ассортименте наших услуг - установка оригинальных 
          и универсальных систем кондиционирования и обогрева. Климатическая система стала неотъемлимой частью современного автомобиля. С каждым годом сложность систем климат-контроля возрастает. Ремонт климатической техники требует специального оборудования и знаний в самых различных отрослях, начиная собственно с холодильного контура и заканчивая знанием микропроцессорной техники. </p>
        </div>
      </div>
    </div>


  </div>
</section>
<!-- end section -->