<!-- begin section -->
<section class="section">
  <div class="container">
    <div class="section__title section__title-sm">
      <h2 class="h2">Наши цены порадуют всех</h2>
    </div>
    <div class="row">
      <div class="col-xl-4 col-lg-6 offset-xl-4 offset-lg-3">
        <div class="section__subttl">Мы предлагаем наилучшие цены в Украине, благодаря прямому
        сотрудничеству с иностранными партнерами</div>
      </div>
    </div>

    {% include "partials/_prices.html" %}
    
  </div>
</section>
<!-- end section -->