{%set
table = [
  {
    cols: [
      { text: 'Диагностика систем 
кондиционирования
' },
      { text: '0,25 - 2 часа' },
      { text: '50' },
      { text: 'В т.ч. компьютерная
 диагностика' }
    ]
  },
  {
    cols: [
      { text: 'Заправка системы 
кондиционирования' },
      { text: '0,5 - 1 час' },
      { text: '50' },
      { text: ' С вакуумированием 20-40 мин.' }
    ]
  },
  {
    cols: [
      { text: 'Промывка системы кондиционирования' },
      { text: '4-7 часов' },
      { text: '400-600' },
      { text: 'В зависимости от объема слесарных работ' }
    ]
  },
  {
    cols: [
      { text: 'Мелкий ремонт  ' },
      { text: '0,1 - 0,5 часа' },
      { text: '25 - 50' },
      { text: 'В зависимости от объема слесарных работ' }
    ]
  },
  {
    cols: [
      { text: 'Ремонт системы кондиционирования' },
      { text: '1 - 10 часов' },
      { text: '200 - 700  ' },
      { text: 'В зависимости от объема слесарных работ' }
    ]
  },
  {
    cols: [
      { text: 'Сварочные работы по алюминию' },
      { text: '0,25 - 1 час' },
      { text: '50' },
      { text: 'За 1 стык (соту радиатора)' }
    ]
  },
  {
    cols: [
      { text: 'Установка универсального кондиционера' },
      { text: '12-18 часов' },
      { text: '2000 - 2800  ' },
      { text: ' В зависимости от марки автомобиля
 и типа кондиционера' }
    ]
  },
  {
    cols: [
      { text: 'Установка оригинального кондиционера' },
      { text: '16 - 24 часа' },
      { text: '2500 - 3200' },
      { text: 'В зависимости от марки автомобиля' }
    ]
  }
]
%}

<!-- begin section -->
<section class="section pt-0">
  <div class="container">
    <div class="section__title section__title-sm">
      <h2 class="h2">Расценки:</h2>
    </div>

    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="section__subttl">Расценки указаны ориентировочно, поскольку множество факторов влияют на окончательную цену. Указаны цены без стоимости материалов и комплектующих. Ориентировочная стоимость нормо-часа 100 гривен.</div>
      </div>
    </div>

    <div class="section__table">
      <!-- begin table -->
      <div class="table">
        <table>
          <tr>
            <th>Работы</th>
            <th>Время выполнения</th>
            <th>Расценка</th>
            <th>Примечание</th>
          </tr>
          {% for i in table %}
          <tr>
            {% for j in i.cols %}
            <td>{{ j.text | safe }}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
      <!-- end table -->
    </div>
  </div>
</section>
<!-- end section -->