.hero  
  &__block
    height: 100%
    +flex(center, normal, column)
    padding-left: 75px
    position: relative
    z-index: 1
    +lg
      padding-left: 50px
    +md
      padding-left: 30px
    +sm
      padding-left: 15px
    +xs
      padding-left: 0
      margin-bottom: 30px
  &__title
    margin-bottom: 20px
    +md
      margin-bottom: 10px
  &__subttl
    margin-bottom: 15px
    +md
      margin-bottom: 10px
  &__img
    +xs
      // display: none