.slider
  &--hero
    .slide
      height: calc(100vh - (#{$header-height} * 2))
      +flex(center, normal, column)
      +lg
        height: calc(100vh - (#{$header-height-mob} * 2))
      +xs
        height: calc(100vh - #{$header-height-mob})
    &__wrap
      position: relative
      .lSAction
        @extend .container
        position: absolute
        width: 100%
        left: 50%
        transform: translate(-50%, -50%)
        top: 50%
        .lSPrev,
        .lSNext
          +xs
            display: none
        .lSPrev
          left: -15px
        .lSNext
          right: -15px

      .lSPager
        position: absolute
        bottom: 30px
        left: 0
        width: 100%
        z-index: 1
        a
          background-color: transparent !important
          width: 10px
          height: 10px
          +hidetext
        li
          border: 1px solid  $white
          border-radius: 50%
          width: 10px
          height: 10px
          margin-right: 10px
          margin-left: 10px
          padding: 0 !important
          display: inline-flex !important
          +inline-flex(center, center)
          &.active
            height: 16px
            width: 16px
            a
              background-color: $white !important

.slide
  &__img
    display: block
